ul {
	list-style: none;
	padding: 0;
}

li {
	display: flex;
}

h2 {
	color: var(--text-color);
	margin-top: 0;
	margin-right: 0.5rem;
	margin-block-end: 0.5rem;
}

p {
	color: var(--text-color);
	font-size: 1.125rem;
	margin-top: 0;
	margin-right: 0.5rem;
}

a {
	font-size: 1.125rem;
}

button {
	background-color: var(--bg2-color);
	border: none;
	transition: 0.25s;
	margin-bottom: 0.25rem;
}

button:hover {
	cursor: pointer;
	transition: 0.25s;
}

i {
	color: var(--text-color);
	font-size: 1.125rem;
	transition: 0.25s;
}

i:hover {
	color: var(--hover-color);
	transition: 0.25s;
}

@media (min-width: 768px) {
	p {
		font-size: 1.5rem;
	}

	a {
		font-size: 1.5rem;
	}
}
