ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
}

h2 {
    color: var(--text-color);
    margin-top: 0;
    margin-right: 0.5rem;
    margin-block-end: 0.5rem;
}

p {
    color: var(--text-color);
    font-size: 1.125rem;
    margin-top: 0;
    margin-right: 0.5rem;
}
a {
    font-size: 1.125rem;
}

@media (min-width: 768px) {
    p {
        font-size: 1.5rem;
    }

    a {
        font-size: 1.5rem;
    }
}
